<%- include('shared/header.ejs') %>

<div class="container mt-5 text-center">
    <h1><%= successText %></h1>
    <a href="<%= link %>" class="btn btn-primary mt-4"><%= linkText %></a>
</div>

<%- include('shared/footer.ejs') %>